
/Projeto-Codigo/SgplCamadaApresentacao/nbproject/private/
/Projeto-Codigo/SgplCamadaPersistencia/nbproject/private/
/Projeto-Codigo/SgplCamadaApresentacao/build/
/Projeto-Codigo/SgplCamadaPersistencia/build/
/Projeto-Codigo/SgplCamadaApicacao/nbproject/private/
/Projeto-Codigo/SgplCamadaApicacao/build/
/Projeto-Codigo/SgplCamadaApicacao/dist/
/Projeto-Codigo/SgplCamadaPersistencia/dist/
/Projeto-Codigo/SgplCamadaApresentacao/dist/