
/Projeto-Codigo/SgplCamadaApresentacao/nbproject/private/
/Projeto-Codigo/SgplCamadaPersistencia/nbproject/private/
/Projeto-Codigo/SgplCamadaApresentacao/build/
/Projeto-Codigo/SgplCamadaPersistencia/build/