/Projeto-Codigo/Sgpl/build/
/Projeto-Codigo/SgplCamadaPersistencia/build/
/Projeto-Codigo/SgplCamadaApresentacao/build/
/Projeto-Codigo/nbproject/private/
/Projeto-Codigo/SgplCamadaApresentacao/nbproject/
/Projeto-Codigo/SgplCamadaApresentacao/nbproject/*
/Projeto-Codigo/SgplCamadaAplicacao/nbproject/
/Projeto-Codigo/SgplCamadaAplicacao/nbproject/*
/Projeto-Codigo/SgplCamadaPersistencia/nbproject/
/Projeto-Codigo/SgplCamadaPersistencia/nbproject/*
